@use "_vars.scss";

.CreateAccount {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}

.CreateAccount-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.CreateAccount-container .title {
  font-size: var(--lg);
  margin-bottom: 32px;
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
}
.form div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 56px;
}

.login-button {
  margin-top: 0px;
  margin-bottom: 32px;
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }

  .form {
    height: 100%;
    justify-content: space-between;
  }
}