@use "_vars.scss";

.MyOrder {
  width: 360px;
  height: calc(100vh - 85px);
  border: 1px solid var(--very-light-pink);;
  border-radius: 8px 0 0 8px;
  padding: 0px 24px 24px 24px;
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title-container img:hover {
  cursor: pointer;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}

.MyOrder-products {
  overflow-y: auto;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  margin-top: 24px;
  border-radius: 20px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 56px;
  font-family: inherit;
}

@media (max-width: 640px) {
  .MyOrder {
    width: calc(100% - 48px);
  }
}