@use "_vars.scss";

.NewPassword {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}

.NewPassword-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.logo {
  width: 152px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300px;
  margin-top: 0px;
  margin-bottom: 48px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 56px;
}

.login-button {
  margin-top: 0px;
  margin-bottom: 32px;
}

@media (max-width: 640px) {
  .logo {
    display: block;
    margin-top: 32px;
  }
}