@use "_vars.scss";

.Orders {
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Orders-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  font-size: var(--lg);
  margin-bottom: 24px;
}

.Orders-content {
  display: flex;
  flex-direction: column;
}