@use "_vars.scss";

.OrderItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.OrderItem figure {
  margin: 0;
}
.OrderItem figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.OrderItem p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--sm);
}
.OrderItem p:last-child {
  font-size: var(--md);
  font-weight: bold;
}
.OrderItem:last-child:hover {
  cursor: pointer;
}