@use "_vars.scss";

.ProductItem {
  width: 100%;
  display: grid;
}
.ProductItem img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.product-info figure {
  margin: 0;

}
.product-info figure img {
  width: 32px;
  height: 32px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0px;
  margin-bottom: 2px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin: 0;
  color: var(--very-light-pink);
}

@media (max-width: 640px) {
  .ProductItem {
    width: 140px;
  }
  .ProductItem img {
    width: 140px;
    height: 140px;
  }
}