@use "_vars.scss";

.SendEmail {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}

.SendEmail-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.logo {
  width: 152px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300px;
  margin-top: 0px;
  margin-bottom: 48px;
  text-align: center;
}

.email-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.email-image img {
  width: 80px;
}

.resend {
  font-size: var(--sm);
  text-align: center;
}
.resend span {
  color: var(--very-light-pink);
}
.resend a {
  color: var(--hospital-green);
  text-decoration: none;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 56px;
}

.login-button {
  margin-top: 0px;
  margin-bottom: 32px;
}

@media (max-width: 640px) {
  .logo {
    display: block;
    margin-top: 32px;
  }
}